<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射文件中写的是数据增删查改的内容-->
<!--namespace的值必须和dao接口的路径一致-->
<mapper namespace="com.dao.NewDao">
    <!--id的值必须和接口中的方法名一致-->
    <select id="queryNewsByUserId" parameterType="int" resultType="News">

    </select>

    <select id="queryAll" resultType="News">
        select * from news where status=1
    </select>

    <select id="queryDisapprove" resultType="News">
        select * from news where status=0
    </select>

    <insert id="addNews" parameterType="News">
        insert into news(title,content,date,video,photo,visit) values (#{title},#{content},#{date},#{video},#{photo},#{visit})
    </insert>
    
    <update id="updateNews" parameterType="News">
        update news set title=#{title},content=#{content},date=#{date},video=#{video},photo=#{photo},visit=#{visit} where nid=#{nid}
    </update>

    <delete id="deleteNewsById" parameterType="int">
        delete from news where nid=#{nid}
    </delete>
</mapper>
